{% extends 'base.html.twig' %}

{% block title %}Stratosphere{% endblock %}
{% block stylesheets %}
<style>
    .container, form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .container {
        max-width: 800px;
    }

    .btn {
        margin-top: 5px;
    }

    form {
        max-width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    form > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    table {
        border-collapse: collapse;
    }

    .table__data {
        border: 1px solid black;
        padding: 5px;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">
    <h1>List of users</h1>
    <table>
        <tr>
            <th class="table__data">id</th>
            <th class="table__data">Email (login)</th>
            <th class="table__data">Role</th>
            <th class="table__data">Nickname</th>
            <th class="table__data">Full Name</th>
        </tr>

        {% for user in users %}
            <tr>
                <th class="table__data">{{ user.id }}</th>
                <th class="table__data">{{ user.email }}</th>
                <th class="table__data">{{ user.roles[0] }}</th>
                <th class="table__data">{{ user.nickname }}</th>
                <th class="table__data">{{ user.fullname }}</th>
            </tr>
        {% endfor %}
    </table>
    <br>
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
        <h3>Add new user</h3>
        {{ form_errors(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        <button type="submit" class="btn">Add to Database</button>
    {{ form_end(registrationForm) }}

    {{ form_start(editUser) }}
        <h3>Change data of an existing user</h3>
        {{ form_errors(editUser) }}
        {{ form_row(editUser.id) }}
        {{ form_row(editUser.nickname) }}
        {{ form_row(editUser.full_name) }}
        <button type="submit" class="btn">Save User</button>
    {{ form_end(editUser) }}

    <div class="container__column">
        <a href="/logout"><button>Log Out</button></a>
    </div>
</div>
{% endblock %}